:root {
    --box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.5);
    --dashboard-font-family: Tahoma, sans-serif;
    --header-font-family: Garamond, Verdana, sans-serif;
    --projects-font-family: Futura, Trebuchet MS, Arial, sans-serif;
    --main-color: rgb(209, 67, 24);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 20px;
}

.griddy-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.grid-container1 {
    grid-area: 1 / 1 / 3 / 2;
    font-family: var(--dashboard-font-family);
}

.grid-container2 {
    grid-area: 1 / 2 / 2 / 3;
    font-family: var(--header-font-family);
}

.grid-container3 {
    grid-area: 2 / 2 / 3 / 3;
    font-family: var(--projects-font-family);
}

/* DASHBOARD */

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vh;
    background-color: var(--main-color);
    height: 100%;
}

.image-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 10px 15px 0 15px;
}

.image-logo > p {
    color: white;
    font-size: 36px;
}

.grid-1-griddy {
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 30px;
    margin-left: 20px;
}

.grid-1-griddy2 {
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 30px;
    margin-left: 20px;
}

.grid-1-griddy > div,
.grid-1-griddy2 > div {
    font-size: 24px;
    color: white;
    font-family: var(--dashboard-font-family);
}

.grid-1-griddy > i,
.grid-1-griddy2 > i {
    align-self: center;
}

.grid-1-griddy > i,
.grid-1-griddy2 > i,
.image-logo > i {
    color: white;
}

/* HEADER */

.grid-container2 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 10vw 20px 20px;
}

.top-left > input {
    flex: 1;
    padding: 5px;
    border: none;
    background-color: rgba(8, 8, 8, 0.1);
    border-radius: 10px;
}

.top-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--header-font-family);
}

.top-right > p {
    font-size: 20px;
    font-weight: bold;
}

.top-right > img {
    width: calc(35px + 1vw);
    height: calc(40px + 1vh);
    border-radius: 50%;
}

.bottom-left {
    display: flex;
    margin: 20px 10vw 20px 20px;
    gap: 20px;
}

.bottom-left > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.column-name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.column-name > p:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
}

.column-name > p:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
}

.bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-right > button {
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
}

/* PROJECTS */

.grid-container3 {
    background-color: rgb(221, 219, 219, 0.5);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
}

.flex-container-2 > div:nth-child(1) {
    margin: 30px 30px 0 30px;
}

.projects {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 250px;
}

.projects > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 30px 30px 30px;
    border-radius: 5px;
    border-left: 8px solid rgb(255, 166, 0);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.projects > div > div {
    padding: 30px 20px;
}

.projects > div > div > h3 {
    margin-bottom: 5px;
}

.projects > div > div > p,
.ann-trend > div > div > p {
    font-weight: 500;
    color: gray;
}

.projects > div > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.ann-trend {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.ann-trend > div:nth-child(2),
.ann-trend > div:nth-child(4) {
    flex: 1;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.ann-trend > h2 {
    margin-bottom: 10px;
}

.ann-trend > h2:nth-child(3) {
    margin-top: 10px;
}

hr {
    margin: 10px 0 ;
}

.ann-trend > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ann-trend > div:nth-child(2) > div > p {
    max-height: 50px;
}


.trending-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.trending-grid > div > img {
    width: calc(50% + 1vw);
    height: 50%;
    border-radius: 50%;
}

.trending-grid > div > p:nth-child(1) {
    font-weight: 500;
    color: black;
}

.projects > div:hover {
    box-shadow: 10px 10px 10px 10px rgb(245, 241, 241);
    border-left: 8px solid rgb(238, 215, 10);
}

button:hover {
    background-color: rgb(245, 123, 9);
    cursor: pointer;
}

input:hover {
    background-color: rgb(141, 143, 145, 0.6);
}

.grid-container2 > div > img:hover {
    border: 2px solid var(--main-color);
}

i:hover,
.projects > div > div > h3 {
    cursor: pointer;
}

.dashboard > div > p:hover {
    cursor: pointer;
}

.dashboard > div > div > div:hover {
    cursor: pointer;
    text-decoration: underline;
}
