* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.griddy-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.grid-container1 {
    grid-area: 1 / 1 / 3 / 2;
}

.grid-container2 {
    grid-area: 1 / 2 / 2 / 3;
}

.grid-container3 {
    grid-area: 2 / 2 / 3 / 3;
}

/* DASHBOARD */

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vh;
    background-color: rgb(61, 114, 228);
    height: 100%;
}

.image-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 10px 15px 0 15px;
}

.image-logo > p {
    color: white;
    font-size: 36px;
}

.grid-1-griddy,
.grid-1-griddy2 {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    row-gap: 30px;
    margin-left: 20px;
}

.grid-1-griddy > div,
.grid-1-griddy2 > div {
    font-size: 24px;
    color: white;
    margin-right: 5px;
}

.grid-1-griddy > i,
.grid-1-griddy2 > i {
    align-self: center;
}

.fas {
    color: white;
}

/* HEADER */

.grid-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-container2 > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.grid-container2 > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-side-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
}

.right-side-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 30px;
}

/* PROJECTS */

.grid-container3 {
    display: flex;
    justify-content: space-between;
}

.projects {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 300px;
}

.ann-trend {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ann-trend > div:nth-child(1) {
    flex: 1;
}

.ann-trend > div:nth-child(2) {
    flex: 1;
}
